@import './../../../../variables.scss';
@import './../../styles.scss';

.navbar {
  padding-bottom: 0;
  padding-top: 0;
}

.btn-skip {
  padding: 0rem;
  width: 12rem;
  line-height: 1.3rem;
}

.search-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.navbar-brand {
  flex-basis: 5rem;
  color: $dark-blue;
}
.navbar-brand:hover, .navbar-brand:focus {
  color: $dark-blue;
}

.navbar-menu {
  margin-right: 0.5rem;
  padding-left: 0
}
.navbar-menu:focus {
  box-shadow: none;
}

@media (max-width: $navbar-side-colapsed-max-width) {
  #navbar-top nav {
    height: 3.37rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .search-button {
    margin-left: 0.5rem;
  }

  .search-container {
    padding: 0;
  }
}
