<header>
  <a class="gb-title" routerLink="/video/{{ video.id }}">
    <h1>
      <app-text-reveal
        [text]="video.snippet.title"
        [maxDisplayedRows]="titleMaxDisplayedRows">
      </app-text-reveal>
    </h1>
  </a>
</header>

<div class="info-small">
  <a class="gb-channel-title" routerLink="/channel/{{ video.snippet.channelId }}">
    {{ video.snippet.channelTitle }}
  </a> -
  {{ formatterService.getFormattedNumberString(video.statistics.viewCount) }} -
  {{ formatterService.getDateFromNowString(video.snippet.publishedAt) }}
</div>
