<app-playlist-buttons [loadMoreCallBack]="loadMoreCallBack" [totalResultsCount]="totalResultsCount">
  <div #playlist class="playlist" (window:resize)="onPlaylistResize(playlistElements)">
    <div #playlistElement class="playlist-element" *ngFor="let playlist of playlists"
    [attr.hidden]="windowService.isElementOverflowing(playlistElement) === true ? 'hidden' : null">
      <div>
        <a [routerLink]="['/channel', playlist.snippet.channelId]">
          <img class="thumbnail" src="{{ getThumnailUrl(playlist.snippet.thumbnails) }}"
            alt="{{ playlist.snippet.title }}">
        </a>
      </div>

      <a class="channel-title" [routerLink]="['/channel', playlist.snippet.channelId]">
        {{ playlist.snippet.channelTitle }}
      </a>
    </div>
  </div>
</app-playlist-buttons>
