<div class="main-container">
  <div class="d-flex mr-auto mb-2 channel-container" *ngIf="channel">
    <app-channel-banner
      [id]="channel.id"
      [url]="getThumbnailUrl()">
    </app-channel-banner>

    <div class="ml-2">
      <a class="gb-channel-title" routerLink="/channel/{{ channel.id }}">
        {{ channel.snippet.title }}
      </a>

      <app-channel-subscribers-info [channelStatistics]="channel.statistics">
      </app-channel-subscribers-info>
    </div>
  </div>

  <app-channel-subscribe-button [channelId]="channel.id"></app-channel-subscribe-button>
</div>
