<ng-container *ngIf="channels.length > 0">
  <app-playlist-header [title]="channelSection.snippet.title"></app-playlist-header>

  <article class="playlist-element">
    <app-playlist-buttons
  [playlistElements]="channels"
  [loadMoreCallBack]="loadMoreCallBack"
  [totalResultsCount]="totalResultsCount">
  <ng-template #playlistElementTemplate let-channel>
    <article class="playlist-element">
      <app-channel-mini
        [channel]="channel">
      </app-channel-mini>
    </article>
  </ng-template>
</app-playlist-buttons>
  </article>
</ng-container>
