@import "../styles.scss";
@import "../../../variables.scss";

$navbarHeight: $navbar-bottom-height;
$navbarWidth: 100%;

.navbar {
  display: flex;
  height: $navbarHeight;
  padding-bottom: 0;
  padding-top: 0;
  position: fixed;
  top: calc(100% - #{$navbarHeight});
  width: $navbarWidth;
  z-index: 1020;
}

.nav-item {
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  padding: 0;
}

.nav-link > i {
  font-size: 1.6rem;
}

.navbar-nav {
  flex-direction: row;
}
