<div class="video-comments-container">
  <div class="d-flex mb-4" *ngIf="commentCount > 0; else noCommentsContainer">
    {{ commentCount }} comments

    <div class="dropdown ml-2">
      <button class="btn dropdown-button" [class.disabled]="isOrderButtonDisabled ? true : null" type="button"
        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-sort"></i>
        {{ commentThreadOrder[order] }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item" *ngFor="let key of orderKeys"
          [attr.hidden]="commentThreadOrder[key] === commentThreadOrder[order] ? 'hidden' : null"
          (click)="onChangeOrder(key)">
          {{ commentThreadOrder[key] }}
        </button>
      </div>
    </div>
  </div>

  <div *ngFor="let thread of commentThreads">
    <app-comment [comment]="thread.snippet.topLevelComment"></app-comment>

    <div class="replies-container">
      <app-comment-replies *ngIf="thread.snippet.totalReplyCount > 0" [parentId]="thread.id"
        [totalRepliesCount]="thread.snippet.totalReplyCount">
      </app-comment-replies>
    </div>

    <hr>
  </div>

  <div class="d-flex" *ngIf="isMoreComments">
    <app-loading-elements class="loading-container"
      [isLoadingDisabled]="isCurrentlyLoadingComments"
      [loadingCallback]="loadMoreComments">
    </app-loading-elements>
  </div>

  <ng-template #noCommentsContainer>
    <div id="no-comments-text">No comments</div>
  </ng-template>
</div>
