<section class="video-comments-container">
  <div class="d-flex mb-4" *ngIf="commentCount > 0">
    {{ commentCount }} comments

    <app-comments-order-dropdown
    (orderChange)="onChangeOrder($event)"
    [isOrderButtonDisabled]="isOrderButtonDisabled"
    [order]="order">
    </app-comments-order-dropdown>
  </div>

  <div *ngFor="let thread of commentThreads">
    <app-comment-thread [thread]="thread"></app-comment-thread>
    <hr>
  </div>

  <div class="loading-container">
    <app-loading-elements *ngIf="isMoreComments && areCommentsDisabled === false"
      [isLoadingDisabled]="isCurrentlyLoadingComments" [loadingCallback]="loadMoreComments">
    </app-loading-elements>
  </div>
  <div class="gb-no-results-text" *ngIf="isMoreComments === false && areCommentsDisabled === false">
    No comments
  </div>
  <div class="gb-no-results-text" *ngIf="areCommentsDisabled">
    Comments are disabled
  </div>
</section>
