@import './../../../variables.scss';

$container-margin-left: $content-margin;

:host(app-most-popular) {
  width: 100%;
}

.comments-toggle-button {
  color: $dark-blue;
}

.dropdown {
  opacity: 0.6;
}

.dropdown-button, .dropdown-button:focus, .dropdown-button:hover, .dropdown-menu, .dropdown-item {
  border: none;
  background-color: $dark-blue;
  box-shadow: none;
  color: white;
  font-size: 1rem;
  outline: none;
}

.dropdown-button.disabled {
  background-color: grey;
  cursor: not-allowed;
}

.dropdown-menu {
  margin-bottom: 0.125rem;
}

hr {
  margin-left: -$container-margin-left;
}

img {
  width: 48px;
  height: 48px;
}

.video-comments-container {
  margin-bottom: 1.5rem;
  margin-left: $container-margin-left;
}

.no-comments-text {
  color: gray;
  font-size: 1.3rem;
  text-align: center;
}

.replies-container {
  margin-left: 48px;
}
