@import './../../../variables.scss';

:host(app-most-popular) {
  width: 100%;
}

.comments-toggle-button {
  color: $dark-blue;
}

img {
  width: 48px;
  height: 48px;
}

.loading-container {
  margin-bottom: $navbar-bottom-height;
}
