@import './../../../../variables.scss';
@import "./../../styles.scss";

.playlist-container {
  color: black;
}
.playlist-container:hover {
  color: $dark-blue;

  .gb-info-medium {
    color: $dark-blue;
  }
}

.playlist-image {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.playlists-title {
  margin-left: 1rem;
  margin-right: 1rem;
}
