@import './../../../../variables.scss';

:host {
  width: 100%;
}

:host ::ng-deep {
  .thumbnail {
    width: 246px;
  }
}

article {
  display: flex;
}

.video-info {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

@media(max-width: $videos-mobile-max-width) {
  :host ::ng-deep {
    .thumbnail {
      height: auto;
      width: 100%;
    }
  }

  .video-description {
    display: none;
  }

  article {
    flex-direction: column;
    margin-left: 0;
  }
}
