<div class="channelsContainer">
  <a class="channel" routerLink="/channel/{{ channel.snippet.resourceId.channelId }}" *ngFor="let channel of channels">
    <img class="thumbnail" src="{{ channel.snippet.thumbnails.medium.url }}" alt="{{ channel.snippet.title }}">

    <div class="video-info">
      <app-text-reveal [text]="channel.snippet.description" [maxDisplayedRows]="5"></app-text-reveal>
    </div>
  </a>
</div>

<div class="d-flex" *ngIf="isMoreSubscriptions">
  <app-loading-elements class="loading-container" [isLoadingDisabled]="isCurrentlyLoading"
    [loadingCallback]="loadMoreSubscriptions">
  </app-loading-elements>
</div>
