@import "./../../variables.scss";

:host(app-subscriptions) {
  width: 100%;
}

.channelsContainer {
  display: flex;
  flex-wrap: wrap;
}

.channel {
  box-sizing: content-box;
  width: 240px;
  padding: 2rem;
  border: 0.001rem solid grey;
  margin: 0.04rem;
  word-wrap: break-word;
}
.channel:hover {
  outline: $dark-blue solid 1px;
  text-decoration: none;
}

.loading-container {
  font-size: 2.2rem;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
