<div class="channelsContainer">
  <a class="channel" routerLink="/channel/{{ channel.snippet.resourceId.channelId }}"
  *ngFor="let channel of channels">
    <img class="thumbnail" src="{{ channel.snippet.thumbnails.medium.url }}" alt="{{ channel.snippet.title }}">

    <div class="video-info">
      <app-text-reveal [text]="channel.snippet.description" [maxDisplayedRows]="5"></app-text-reveal>
    </div>
  </a>
</div>

<div *ngIf="isMoreSubscriptions" class="d-flex">
  <app-loading class="loading-container"></app-loading>
</div>
