@import "./../../variables.scss";

:host(app-subscriptions) {
  width: 100%;
}

.channel {
  box-sizing: content-box;
  border: 0.001rem solid grey;
  display: block;
  margin: 0.04rem;
  padding: 2rem;
  word-wrap: break-word;
}
.channel:hover {
  outline: $dark-blue solid 1px;
  text-decoration: none;
}

.channels-container {
  color: $dark-blue;
  display: grid;
  box-sizing: content-box;
  grid-template-columns: repeat(auto-fit, minmax(19.1rem, 1fr));
  margin: $content-margin;
}

.loading-container {
  margin-bottom: $navbar-bottom-height;
}

.thumbnail {
  display: block;
  margin: auto;
}
