@import "../../variables.scss";

.navbar {
  background-color: $white;
  opacity: 0.96;
}

.nav-link > i {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.navbar-nav .nav-link {
  color: black;
}
.navbar-nav>.nav-item>.nav-link:hover, .navbar .active>.nav-link {
  color: $dark-blue;
}

@media (max-width: #{$bottom-navbar-max-width}) {
  #navbar-bottom {
    display: block;
  }

  #navbar-dummy {
    display: none;
  }

  #navbar-side {
    display: none;
  }
}

$hide-bottom-navbar-min-width: calc(#{$bottom-navbar-max-width} + 1px);
@media (min-width: #{$hide-bottom-navbar-min-width}) {
  #navbar-bottom {
    display: none;
  }
}
