<div id="player"></div>

<div class="content-container" *ngIf="video">
  <div class="video-title">
    {{ video.snippet.title }}
  </div>

  <div class="d-flex">
    <div class="info-medium">
      {{ formatterService.getFormattedNumberString(video.statistics.viewCount) }} Views -
      {{ formatterService.getDateFromNowString(video.snippet.publishedAt) }}
    </div>

    <div class="ml-auto">
      <button class="thumb-button" #likeBtn (click)="onThumbClick(RatingType.like)">
        <i class="fas fa-thumbs-up"></i>
        {{ formatterService.getFormattedNumberString(video.statistics.likeCount) }}
      </button>
      <button class="thumb-button" #dislikeBtn (click)="onThumbClick(RatingType.dislike)">
        <i class="fas fa-thumbs-down"></i>
        {{ formatterService.getFormattedNumberString(video.statistics.dislikeCount) }}
      </button>
    </div>
  </div>

  <hr>

  <div class="d-flex">
    <div class="d-flex" *ngIf="channel">
      <a href="{{ baseChannelUrl + video.snippet.channelId }}">
        <img class="channel-thumbnail" src="{{ channel.snippet.thumbnails.default.url }}"
          alt="Yotube channel {{ channel.snippet.title }} thumbnail">
      </a>

      <div class="ml-2">
        <a class="channel-title" href="{{ baseChannelUrl + video.snippet.channelId }}">
          {{ channel.snippet.title }}
        </a>

        <div class="info-small">
          <span *ngIf="channel.statistics.hiddenSubscriberCount === false">
            {{ formatterService.getFormattedNumberString(channel.statistics.subscriberCount) }}
          </span>
          <span *ngIf="channel.statistics.hiddenSubscriberCount === true">
            hidden
          </span> subscribers
        </div>
      </div>
    </div>

    <div class="ml-auto">
      <button class="btn btn-blue" *ngIf="isSubscribed === false" (click)="onSubscribe()">Subscribe</button>
      <button class="btn btn-white" *ngIf="isSubscribed === true" (click)="onUnsubscribe()">Subscribed</button>
    </div>
  </div>

  <div class="angular-with-newlines">
    <app-text-reveal
      [text]="video.snippet.description"
      [maxDisplayedCharacters]="maxDisplayedCharacters">
    </app-text-reveal>
  </div>
</div>
