@import './../../variables.scss';

.content-container {
  max-width: 640px;
}

.thumb-button {
  font-size: 1.2rem;
  color: grey;
  border: none;
  background-color: inherit;
}
.thumb-button:focus {
  outline: none;
}

.thumb-active-button {
  color: $dark-blue;
}

.dropdown {
  opacity: 0.6;
}

.dropdown-button, .dropdown-button:focus, .dropdown-button:hover, .dropdown-menu, .dropdown-item {
  border: none;
  background-color: $dark-blue;
  box-shadow: none;
  color: white;
  font-size: 1rem;
  outline: none;
}
