@import "./../../../variables.scss";

:host {
  width: 100%;
}

.categories-container {
  display: flex;
  flex-flow: wrap;
  margin: $content-margin;
  margin-bottom: $navbar-bottom-height;
}

.category-container {
  border: 0.001rem solid grey;
  margin: 0.04rem;
  word-wrap: break-word;
}
.category-container:hover, .category-container:focus-within {
  outline: #28587B solid 1px;
  text-decoration: none;
}
