@import './../../../variables.scss';

.thumb-button {
  background-color: inherit;
  border: none;
  color: grey;
  font-size: 1.2rem;
  white-space: nowrap;
}
.thumb-button:focus {
  border: 1px dotted $dark-blue;
  border-radius: 0.25rem;
  outline: none;
}

.thumb-active-button {
  color: $dark-blue;
}

.video-buttons-container {
  margin-left: auto;
  margin-top: auto;
  white-space: nowrap;
}

video {
  width: 100% !important;
  height: auto !important;
}
