<ng-container *ngIf="playlists.length > 0">
  <section>
    <header>
      <h1 class="playlists-title">
        {{ channelSection.snippet.title }}
      </h1>
    </header>

    <app-playlist-buttons
      [playlistElements]="playlists"
      [loadMoreCallBack]="loadMoreCallBack"
      [totalResultsCount]="totalResultsCount">
      <ng-template #playlistElementTemplate let-playlist>
        <article class="playlist-element">
          <app-playlist [playlist]="playlist"></app-playlist>
        </article>
      </ng-template>
    </app-playlist-buttons>
  </section>
</ng-container>
