@import '../../../variables.scss';

.content-container {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

:host ::ng-deep {
  .channel-thumbnail {
    width: calc(#{$channel-thumbnail-height} * 1.1);
    height: calc(#{$channel-thumbnail-width} * 1.1);
  }

  .channel-title {
    font-size: 110%;
  }

  .info-small {
    font-size: calc(0.9rem * 1.1);
  }
}
