<main *ngIf="channel">
  <app-channel-image [images]="channel.brandingSettings.image"></app-channel-image>

  <div class="content-container">
    <div class="channel-container">
      <app-channel-banner [id]="channel.id" [url]="channel.snippet.thumbnails.default.url">
      </app-channel-banner>

      <div class="ml-2 mb-2 mr-auto">
        <h1 id="{{ mainElementId }}" tabindex="-1" class="gb-channel-title">
          {{ channel.snippet.title }}
        </h1>

        <app-channel-subscribers-info [channelStatistics]="channel.statistics">
        </app-channel-subscribers-info>
      </div>

      <div class="mr-2"></div>

      <app-channel-subscribe-button [channelId]="channel.id">
      </app-channel-subscribe-button>
    </div>

    <article>
      <app-channel-sections [channelId]="channel.id">
      </app-channel-sections>
    </article>
  </div>
</main>
