@import '../../../variables.scss';

:host {
  width: 100%;
}

.content-container {
  margin-left: $content-margin;
}

.gb-channel-title {
  font-size: 1.3rem;
}

.channel-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
}

img {
  width: 100%;
  height: auto;
}

:host ::ng-deep {
  img.channel-thumbnail {
    width: calc(#{$channel-thumbnail-height} * 1.1);
    height: calc(#{$channel-thumbnail-width} * 1.1);
  }

  .info-small {
    font-size: 1rem;
  }
}
