@import './../style.scss';

.playlist {
  height: 130px;
  white-space: nowrap;
}

.playlist-element:first-child {
  padding-left: 0;
  margin-left: 0;
}
.playlist-element:last-child {
  padding-right: 0;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}
