<div *ngFor="let thread of commentThreads">
  <div class="d-flex">
    <a class="channel-title"
      href="https://www.youtube.com/user/{{ getAuthorChannelId(thread) }}"
      [attr.disabled]="getAuthorChannelId(thread) ? null : 'disabled'">
      <img class="channel-thumbnail" src="{{ thread.snippet.topLevelComment.snippet.authorProfileImageUrl }}">
    </a>

    <div>
      <div>
        <a class="channel-title"
          href="https://www.youtube.com/user/{{ getAuthorChannelId(thread) }}"
          [attr.disabled]="getAuthorChannelId(thread) ? null : 'disabled'">
          {{ thread.snippet.topLevelComment.snippet.authorDisplayName }} -
        </a>

        <span class="info-small">
          {{ formatterService.getDateFromNowString(thread.snippet.topLevelComment.snippet.publishedAt) }}
        </span>
      </div>

      <app-text-reveal
        [text]="thread.snippet.topLevelComment.snippet.textDisplay"
        [maxDisplayedCharacters]="maxDisplayedCharacters">
      </app-text-reveal>
    </div>
  </div>

  <hr>
</div>
