<header>
  <a class="video-title" routerLink="/video/{{ video.id }}">
    <app-text-reveal
      [text]="video.snippet.title"
      [maxDisplayedRows]="titleMaxDisplayedRows">
    </app-text-reveal>
  </a>
</header>

<div class="info-small">
  <a class="channel-title" routerLink="/channel/{{ video.snippet.channelId }}">
    {{ video.snippet.channelTitle }}
  </a> -
  {{ formatterService.getFormattedNumberString(video.statistics.viewCount) }} -
  {{ formatterService.getDateFromNowString(video.snippet.publishedAt) }}
</div>
