@import "./../../variables.scss";

.navbar {
  background-color: $white;
  width: 185px;
  position: fixed;
}

.navbar .navbar-nav .nav-link {
  color: black;
}
.navbar .navbar-nav>.nav-item>.nav-link:hover, .navbar .active>.nav-link {
  color: $dark-blue;
}

.navbar-dummy {
  width: 185px;
}

.nav-link > i {
  margin-right: 1rem;
  font-size: 1.2rem;
}

@media (max-width: 874px) {
  $navbar-width: 50px;

  .menu-text {
    display: none;
  }

  .navbar {
    width: $navbar-width;
  }

  .navbar-dummy {
    width: $navbar-width;
  }
}
