<nav class="navbar navbar-light">
  <ul class="navbar-nav w-100" #buttonList>
    <li data-route="trending" class="nav-item">
      <a class="nav-link" routerLink="trending">
        <i class="fab fa-hotjar"></i>
        <span class="menu-text">Trending</span>
      </a >
    </li>
    <li data-route="subscriptions" class="nav-item">
      <a class="nav-link" routerLink="subscriptions">
        <i class="fas fa-align-left"></i>
        <span class="menu-text">Subscriptions</span>
      </a>
    </li>
  </ul>
</nav>

<div class="navbar-dummy"></div>
