<div class="playlists-container">
  <ng-container *ngFor="let section of channelSections">
    <ng-container *ngIf="getSectionType(section) === snippetType[snippetType.multipleChannels]">
      <hr>

      <app-multiple-channels-playlist
        [channelSection]="section"
        [title]="section.snippet.title"
        [style]="snippetStyle[section.snippet.style]">
      </app-multiple-channels-playlist>
    </ng-container>

    <ng-container *ngIf="getSectionType(section) === snippetType[snippetType.multiplePlaylists]">
      <app-multiple-playlists
        [channelSection]="section"
        [style]="snippetStyle[section.snippet.style]">
      </app-multiple-playlists>
    </ng-container>

    <ng-container *ngIf="getSectionType(section) === snippetType[snippetType.singlePlaylist]">
      <hr>

      <app-single-playlist
        [channelSection]="section"
        [style]="snippetStyle[section.snippet.style]">
      </app-single-playlist>
    </ng-container>
  </ng-container>
</div>
