<div class="playlists-container">
  <ng-container *ngFor="let section of channelSections">
    <ng-container *ngIf="getSectionType(section) === sectionType[sectionType.multipleChannels]">
      <hr>

      <app-multiple-channels-section
        [channelSection]="section"
        [title]="section.snippet.title"
        [style]="sectionStyle[section.snippet.style]">
      </app-multiple-channels-section>
    </ng-container>

    <ng-container *ngIf="getSectionType(section) === sectionType[sectionType.multiplePlaylists]">
      <hr>

      <app-multiple-playlists-section
        [channelSection]="section"
        [style]="sectionStyle[section.snippet.style]">
      </app-multiple-playlists-section>
    </ng-container>

    <ng-container *ngIf="getSectionType(section) === sectionType[sectionType.singlePlaylist]">
      <hr>

      <app-single-playlist-section
        [playlistId]="section.contentDetails.playlists[0]"
        [style]="sectionStyle[section.snippet.style]">
      </app-single-playlist-section>
    </ng-container>
  </ng-container>
</div>
