<div id="player"></div>

<div class="content-container" *ngIf="video">
  <div class="video-title">
    {{ video.snippet.title }}
  </div>

  <div class="d-flex">
    <div class="info-medium">
      {{ formatterService.getFormattedNumberString(video.statistics.viewCount) }} Views -
      {{ formatterService.getDateFromNowString(video.snippet.publishedAt) }}
    </div>

    <div class="ml-auto">
      <button class="thumb-button" #likeBtn (click)="onThumbClick(RatingType.like)">
        <i class="fas fa-thumbs-up"></i>
        {{ formatterService.getFormattedNumberString(video.statistics.likeCount) }}
      </button>
      <button class="thumb-button" #dislikeBtn (click)="onThumbClick(RatingType.dislike)">
        <i class="fas fa-thumbs-down"></i>
        {{ formatterService.getFormattedNumberString(video.statistics.dislikeCount) }}
      </button>
    </div>
  </div>

  <hr>

  <app-channel-mini *ngIf="channel" [channel]="channel"></app-channel-mini>

  <div class="angular-with-newlines">
    <app-text-reveal [text]="video.snippet.description" [maxDisplayedCharacters]="maxDisplayedCharacters">
    </app-text-reveal>
  </div>

  <hr>

  <div>
    <app-video-comments [parentId]="videoId" [commentCount]="video.statistics.commentCount"></app-video-comments>
  </div>
</div>
