@import './../../../variables.scss';

.content-container {
  max-width: 640px;
}

.thumb-button {
  font-size: 1.2rem;
  color: grey;
  border: none;
  background-color: inherit;
}
.thumb-button:focus {
  outline: none;
}

.thumb-active-button {
  color: $dark-blue;
}
