@import "../../../variables.scss";

:host(app-video) {
  width: 100%;
}

:host::ng-deep {
  hr {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}

.player-container {
  max-height: 70vh;
}

.video-content-container {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.video-channel {
  margin-left: $content-margin;
  margin-right: $content-margin;
}

.video-header-container {
  margin-right: 2rem;
}

@media (min-width: 800px) {
  .video-text {
    margin-right: 8rem;
  }
}
