.player-container {
  max-height: 60vh;
}

:host(app-video) {
  width: 100%;
}

.video-content-container {
  margin-left: 1rem;
  margin-right: 2rem;
}

.video-header-container {
  margin-right: 2rem;
}
