<section #playerContainer class="player-container">
  <div id="player"></div>
</section>

<div class="video-content-container">
  <section class="video-header-container">
    <app-video-header [video]="video"></app-video-header>
  </section>

  <hr>

  <section class="video-channel">
    <app-channel-mini *ngIf="channel" [channel]="channel"></app-channel-mini>
  </section>

  <section class="video-text">
    <app-video-description [channel]="channel" [text]="video.snippet.description">
    </app-video-description>
  </section>

  <hr>

  <app-video-comments [parentId]="video.id" [commentCount]="video.statistics.commentCount"></app-video-comments>
</div>
{{onChangee()}}
