@import "../../variables.scss";

.navbar-brand {
  flex-basis: 5rem;
  color: $dark-blue;
}
.navbar-brand:hover, .navbar-brand:focus {
  color: $dark-blue;
}

.navbar-menu {
  margin-right: 0.5rem;
}
.navbar-menu:focus {
  box-shadow: none;
}

.input-search {
  flex-basis: 1000px;
}
