<div [attr.hidden]="shouldShowReplies ? null : 'hidden'"
  *ngFor="let comment of comments">
  <hr>
  <app-comment class="comment" [comment]="comment"></app-comment>
</div>

<div class="loading-container" *ngIf="shouldShowLoading">
  <app-loading></app-loading>
</div>

<div *ngIf="shouldShowMoreRepliesBtn && shouldShowReplies">
  <button class="mt-2" class="show-more-button" (click)="onShowMoreReplies()">
    <i class="far fa-arrow-alt-circle-down"></i>
    Show more comments
  </button>
</div>

<button class="comments-toggle-button gb-grey-button-no-borders" [attr.hidden]="shouldShowReplies ? 'hidden' : null"
  (click)="onShowReplies()">
  <i class="far fa-arrow-alt-circle-down"></i>
  Show {{ totalRepliesCount }} comments
</button>
<button class="comments-toggle-button gb-grey-button-no-borders" [attr.hidden]="shouldShowReplies ? null : 'hidden'"
  (click)="onHideReplies()">
  <i class="far fa-arrow-alt-circle-up"></i>
  Hide comments
</button>
