@import './../../../variables.scss';

:host ::ng-deep {
  .channel-thumbnail {
    width: calc(#{$channel-thumbnail-height} * 0.9);
    height: calc(#{$channel-thumbnail-width} * 0.9);
  }

  .channel-title {
    font-size: 90%;
  }

  .info-small {
    font-size: calc(0.9rem * 0.9);
  }
}

.loading-container {
  font-size: 1.1rem;
  display: block;
}

.show-more-button {
  margin-left: 0.5rem;
  color: $dark-blue;
  border: none;
  background-color: inherit;
}
.show-more-button:focus {
  outline: none;
}
