@import './../../../variables.scss';

.gb-loading-container {
  display: block;
  font-size: 1.1rem;
  margin: 0;
}

.show-more-button {
  margin-left: 0.5rem;
  color: $dark-blue;
  border: none;
  background-color: inherit;
}
.show-more-button:focus {
  outline: none;
}
