<div class="dropdown ml-2">
  <button class="btn dropdown-button" [class.disabled]="isOrderButtonDisabled ? true : null" type="button"
    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-sort"></i>
    {{ commentThreadOrder[order] }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <button class="dropdown-item" *ngFor="let key of orderKeys"
      [attr.hidden]="commentThreadOrder[key] === commentThreadOrder[order] ? 'hidden' : null"
      (click)="onChangeOrder(key)">
      {{ commentThreadOrder[key] }}
    </button>
  </div>
</div>
