<ng-container *ngFor="let element of displayedElements">
  <ng-container>
    <div class="element-container channel-container"
      *ngIf="getElementResourceKind(element) === ResourceKind['youtube#channel']">
      <app-channel-mini
        [channel]="getChannelElement(element)"
        [thumbnailSize]="thumbnailSize">
      </app-channel-mini>
    </div>
    <div class="element-container"
      *ngIf="getElementResourceKind(element) === ResourceKind['youtube#playlist']">
      <app-playlist-mini
        [playlist]="getPlaylistElement(element)"
        [thumbnailSize]="thumbnailSize">
      </app-playlist-mini>
    </div>
    <div class="element-container"
      *ngIf="getElementResourceKind(element) === ResourceKind['youtube#video']">
      <app-video-mini
        [descriptionMaxDisplayedRows]="descriptionMaxDisplayedRows"
        [video]="getVideoElement(element)"
        [titleMaxDisplayedRows]="titleMaxDisplayedRows"
        [thumbnailSize]="thumbnailSize">
      </app-video-mini>
    </div>
  </ng-container>
</ng-container>
