<ng-container *ngFor="let id of elementIds">
  <ng-container *ngIf="this.elementIdsElements[id] != null">
    <div class="element-container channel-container" *ngIf="getElementResourceKind(id) === ResourceKind['youtube#channel']">
      <app-channel-mini
        [channel]="getChannelElement(id)"
        [thumbnailSize]="thumbnailSize">
      </app-channel-mini>
    </div>
    <div class="element-container" *ngIf="getElementResourceKind(id) === ResourceKind['youtube#playlist']">
      <app-playlist-mini
        [playlist]="getPlaylistElement(id)"
        [thumbnailSize]="thumbnailSize">
      </app-playlist-mini>
    </div>
    <div class="element-container" *ngIf="getElementResourceKind(id) === ResourceKind['youtube#video']">
      <app-video-mini
        [descriptionMaxDisplayedRows]="descriptionMaxDisplayedRows"
        [video]="getVideoElement(id)"
        [titleMaxDisplayedRows]="titleMaxDisplayedRows"
        [thumbnailSize]="thumbnailSize">
      </app-video-mini>
    </div>
  </ng-container>
</ng-container>
