<article class="d-flex">
  <button disabled #leftBtn class="btn-arrow" (click)="onLeftBtnClick()"
    aria-label="previous">
    <i class="fas fa-arrow-circle-right"></i>
  </button>

  <div #element *ngFor="let currentPlaylistElement of playlistElements">
    <ng-container
      [ngTemplateOutlet]="playlistElementTemplateRef"
      [ngTemplateOutletContext]="{ $implicit: currentPlaylistElement }">
    </ng-container>
  </div>

  <button #rightBtn class="btn-arrow" (click)="onRightBtnClick()"
    aria-label="next">
    <i class="fas fa-arrow-circle-left"></i>
  </button>
  <button #loadingBtn class="loading-btn" disabled hidden>
    <span #loadingBtn>
      <app-loading></app-loading>
    </span>
  </button>
</article>
