<div class="video-container" *ngFor="let video of videos">
  <app-video-thumbnail [video]="video" [size]="videoSize"></app-video-thumbnail>

  <div>
    <app-video-info
      [video]="video"
      [titleMaxDisplayedRows]="videoTitleMaxDisplayedRows">
    </app-video-info>

    <div class="info-small">
      <app-text-reveal
        [text]="video.snippet.description"
        [maxDisplayedRows]="3"
        [shouldShowButtons]="false">
      </app-text-reveal>
    </div>
  </div>
</div>

<div *ngIf="areMoreVideos" class="d-flex">
  <app-loading class="loading-container"></app-loading>
</div>
