<div class="video-container" *ngFor="let video of videos">
  <div>
    <a href="{{ baseVideoUrl + video.id }}">
      <img class="thumbnail" src="{{ video.snippet.thumbnails.medium.url }}" alt="{{ video.snippet.title }}">
    </a>
  </div>

  <div>
    <div>
      <a class="video-title" href="{{ baseVideoUrl + video.id }}">
        {{ video.snippet.title }}
      </a>
    </div>

    <div class="video-info mb-2">
      <a class="channel-name" href="{{ baseChannelUrl + video.snippet.channelId }}">
        {{ video.snippet.channelTitle }}
      </a> -
      {{ getViewCountString(video.statistics.viewCount) }} -
      {{ getPublishedDateString(video.snippet.publishedAt) }}
    </div>

    <div class="video-info">
      {{ video.snippet.description | slice:0:200 }} ...
    </div>
  </div>
</div>

<div (show)="loadMostPupularMovies()"></div>
