@import './../variables.scss';

@media (max-width: #{$bottom-navbar-max-width}) {
  #navbar-side {
    display: none;
  }

  #navbar-bottom {
    display: block;
  }
}

$hide-bottom-navbar-min-width: calc(#{$bottom-navbar-max-width} + 1px);
@media (min-width: #{$hide-bottom-navbar-min-width}) {
  #navbar-bottom {
    display: none;
  }
}
