@import "./../../../variables.scss";
@import "../styles.scss";

.menu-text {
  font-size: 1.1rem;
}

.navbar {
  background-color: $white;
  width: 185px;
  position: fixed;
}

.nav-item {
  font-size: 1.2rem;
}

.navbar-dummy {
  width: 185px;
}

@media (max-width: 874px) {
  $navbar-width: 50px;

  .menu-text {
    display: none;
  }

  .navbar {
    width: $navbar-width;
  }

  .navbar-dummy {
    width: $navbar-width;
  }

  .nav-link .menu-icon {
    font-size: 1.5rem;
  }
}
