@import './../../variables.scss';
@import './variables.scss';

:host ::ng-deep {
  .thumbnail {
    width: $thumbnail-width;
  }

  .video-title {
    font-size: 1rem;
  }
}

.playlist {
  height: 157px;
  display: flex;
}

.playlist-element {
  width: $thumbnail-width;
  margin-right: $video-margin;
  margin-bottom: 2rem;
}
.playlist-element:first-child {
  padding-left: 0;
  margin-left: 0;
}
.playlist-element:last-child {
  padding-right: 0;
}

.btn-arrow {
  font-size: 1.1rem;
  background-color: $dark-blue;
  color: $light-blue;
  border: none;
}
.btn-arrow:first-child {
  margin-right: $video-margin;
}
.btn-arrow:disabled {
  background-color: gray;
  opacity: 40%;
}

.loading {
  margin-right: auto;
  text-orientation: mixed;
  writing-mode: vertical-lr;
  font: 1rem 'Open Sans Condensed', sans-serif;
}

.loading-btn {
  background-color: rgba(grey, 0.5);
  border: none;
  padding-left: 4px;
  padding-right: 4px;
}
.loading-btn:disabled {
  opacity: 1;
}
