@import "./../../../../variables.scss";

:host ::ng-deep {
  .thumbnail {
    width: 246px;
  }
}

.loading-container {
  margin-bottom: $navbar-bottom-height;
}

.no-results-text {
  margin-bottom: $navbar-bottom-height;
}

.video-container {
  display: flex;
  margin-bottom: 1.3rem;
}

.video-info {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

@media(max-width: $videos-mobile-max-width) {
  :host ::ng-deep {
    .thumbnail {
      max-height: 200px;
      width: 100%;
    }
  }

  .video-description {
    display: none;
  }

  .video-container {
    flex-direction: column;
    margin-left: 0;
  }
}
