@import "./../../../../variables.scss";

.loading-container {
  margin-bottom: $navbar-bottom-height;
}

.no-results-text {
  margin-bottom: $navbar-bottom-height;
}

.video-container {
  display: flex;
  margin-bottom: $element-margin-bottom;
}
