<form class="form-inline my-2 my-lg-0"
  [formGroup]="searchForm"
  (ngSubmit)="onSubmit(); inputElement.blur();">
  <div class="w-100">
    <input #inputElement (focus)="isInputFocuces = true" (blur)="isInputFocuces = false"
      class="form-control input mr-sm-2 input-search"
      formControlName="search"
      placeholder="Search"
      aria-label="Search"
      type="search"/>

    <ul [attr.hidden]="(
      isInputFocuces &&
      results.length > 0 &&
      isInputEmpty() === false
    ) ? null : 'hidden'"
      class="suggestion-container">
      <li #suggestionElement *ngFor="let result of results"
        (mousedown)="$event.preventDefault()"
        (mouseup)="inputElement.blur(); onSuggestionClicked(result);"
        [value]="result"
        [routerLink]="['/search', result]">
        {{ result }}
      </li>
    </ul>
  </div>

  <button class="btn search-button my-2 my-sm-0" type="submit">Search</button>
</form>
