@import './../../../variables.scss';

form {
  display: flex;
  flex-wrap: nowrap;
}

.input-search {
  width: 100%;
}

.search-button {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.search-button:hover, .search-button:focus  {
  border: 0.1rem $dark-blue;
  box-shadow: 0 0 0.2rem 0.1rem $dark-blue;
}

.suggestion-container {
  background-color: $white;
  box-shadow: 0 0 0.2rem 0.1rem #28587B;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  list-style-type: none;
  margin-top: 0.3rem;
  max-height: 65vh;
  overflow: auto;
  padding: 0;
  padding-bottom: 1rem;
  padding-top: 0.7rem;
  position: absolute;

  li {
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 99;
  }
  li:hover {
    background-color: $light-blue;
    color: $dark-blue;
  }
}

@media(max-width: $navbar-side-colapsed-max-width) {
  .search-button {
    margin-left: 0.5rem;
  }
}
