@import './../styles.scss';

:host ::ng-deep {
  .main-container {
    height: 100%;
  }

  .subscribe-btn {
    margin-top: auto;
  }

  app-channel-subscribe-button {
    display: flex;
  }
}

.playlists-container {
  height: 130px;
}

.playlist-element {
  height: 100%;
}

.playlist-element:first-child {
  padding-left: 0;
  margin-left: 0;
}

.playlist-element:last-child {
  padding-right: 0;
}
