<main>
  <app-offset-header [text]="title"></app-offset-header>

  <div class="channels-container">
    <article class="channel-container" *ngFor="let channel of channels">
      <a class="channel" routerLink="/channel/{{ channel.snippet.resourceId.channelId }}">
        <img class="thumbnail" src="{{ channel.snippet.thumbnails.medium.url }}" alt="{{ channel.snippet.title }}">

        <div class="video-info">
          <app-text-reveal [text]="channel.snippet.description" [maxDisplayedRows]="5"></app-text-reveal>
        </div>
      </a>
    </article>
  </div>
</main>

<div class="d-flex" *ngIf="isMoreSubscriptions">
  <app-loading-elements class="loading-container" [isLoadingDisabled]="isCurrentlyLoading"
    [loadingCallback]="loadMoreSubscriptions">
  </app-loading-elements>
</div>
