<div class="main-container">
  <div class="d-flex mr-auto mb-2 channel-container" *ngIf="channel">
    <a routerLink="/channel/{{ channelId }}">
      <img class="channel-thumbnail" src="{{ channel.snippet.thumbnails.default.url }}"
        alt="Yotube channel {{ channel.snippet.title }} thumbnail">
    </a>

    <div class="ml-2">
      <a class="channel-title" routerLink="/channel/{{ channelId }}">
        {{ channel.snippet.title }}
      </a>

      <div class="info-small">
        <span *ngIf="channel.statistics.hiddenSubscriberCount === false">
          {{ formatterService.getFormattedNumberString(channel.statistics.subscriberCount) }}
        </span>
        <span *ngIf="channel.statistics.hiddenSubscriberCount === true">
          hidden
        </span> subscribers
      </div>
    </div>
  </div>

  <div>
    <button class="btn btn-blue" *ngIf="isSubscribed === false" (click)="onSubscribe()">Subscribe</button>
    <button class="btn btn-white" *ngIf="isSubscribed === true" (click)="onUnsubscribe()">Subscribed</button>
  </div>
</div>
