@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import "./variables.scss";

body {
  background-color: $light-blue;
}

.navbar {
  background-color: $white;
  opacity: 0.96;
}

.video-container {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.video-title {
  font-size: 1.2rem;
  font-weight: 450;
  color: black;
}
.video-title:hover {
  text-decoration: none;
  color: black;
}

.info-small {
  font-size: 0.9rem;
  color: gray;
}

.info-medium {
  font-size: 1.1rem;
  color: gray;
}

.channel-title {
  color: $dark-blue;
}
.channel-title:hover {
  text-decoration: none;
}

.channel-thumbnail {
  width: 3rem;
  border-radius: 50%;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-blue {
  background-color: $dark-blue;
  color: $white;
}
.btn-blue:hover, .btn-blue:focus {
  box-shadow: none;
  color: $white;
}

.btn-white {
  background-color: $white;
  color: $dark-blue;
  border: 0.1rem solid $dark-blue;
}
.btn-white:hover, .btn-white:focus {
  box-shadow: none;
  color: $dark-blue;
}

a[disabled] {
  pointer-events: none;
}
