@import "./variables.scss";

a {
  color: $dark-blue;
}
a.no-style:link {
  text-decoration: inherit;
  color: inherit;
}
a.no-style:visited {
  text-decoration: inherit;
  color: inherit;
}
a[disabled] {
  pointer-events: none;
}
a:hover {
  color: $dark-blue;
  text-decoration: none;
}

body {
  background-color: $light-blue;
}

.btn-blue {
  background-color: $dark-blue;
  color: $white;
}
.btn-blue:hover, .btn-blue:focus {
  box-shadow: none;
  color: $white;
}

.btn-white {
  background-color: $white;
  color: $dark-blue;
  border: 0.1rem solid $dark-blue;
}
.btn-white:hover, .btn-white:focus {
  box-shadow: none;
  color: $dark-blue;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

h1, h2, h3, h4, h5, h6 {
  display: inline;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-size: inherit;
  font-weight: normal;
}

.info-medium {
  font-size: 1.1rem;
  color: gray;
}

.info-small {
  font-size: 0.9rem;
  color: gray;
}

input.input:focus {
  border: 0.1rem $dark-blue;
  box-shadow: 0 0 0.2rem 0.1rem $dark-blue;
}

.loading-container {
  display: flex;
  font-size: 2.2rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.no-results-text {
  color: gray;
  font-size: 1.3rem;
  text-align: center;
}

.offscreen {
  position: absolute;
  top: -1000px;
}
.offscreen:focus {
  position: static;
  border: 1px dotted $dark-blue;
  box-shadow: 0 0 0.2rem 0.1rem #28587B;
  margin-right: 1rem;
}

.player-container {
  max-height: 70vw;
}

.show-button {
  border: none;
  background-color: inherit;
  padding: 0;
  font-size: 1rem;
  margin-top: 0.3rem;
}
//-----------------------------
.gb-channel-title {
  font-size: 1rem;
  color: $dark-blue;
}

.gb-left-info {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.gb-title {
  font-size: 1.2rem;
  font-weight: 450;
  color: black;
}
.gb-title:hover {
  text-decoration: none;
  color: black;
}
