@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import "./variables.scss";

a[disabled] {
  pointer-events: none;
}

body {
  background-color: $light-blue;
}

.btn-blue {
  background-color: $dark-blue;
  color: $white;
}
.btn-blue:hover, .btn-blue:focus {
  box-shadow: none;
  color: $white;
}

.btn-white {
  background-color: $white;
  color: $dark-blue;
  border: 0.1rem solid $dark-blue;
}
.btn-white:hover, .btn-white:focus {
  box-shadow: none;
  color: $dark-blue;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.channel-thumbnail {
  height: $channel-thumbnail-height;
  width: $channel-thumbnail-width;
  border-radius: 50%;
}

.channel-title {
  color: $dark-blue;
}
.channel-title:hover {
  text-decoration: none;
}

.info-medium {
  font-size: 1.1rem;
  color: gray;
}

.info-small {
  font-size: 0.9rem;
  color: gray;
}

.loading {
  @keyframes blink {
    0% {
      color: rgba($dark-blue, 0);
    }
    50% {
      color: rgba($dark-blue, 0.5);
    }
    100% {
      color: rgba($dark-blue, 1);
    }
  }

  animation: blink alternate 0.8s infinite linear;
  color: $dark-blue;
}

.navbar {
  background-color: $white;
  opacity: 0.96;
}

.show-button {
  border: none;
  background-color: inherit;
  padding: 0;
  font-size: 1rem;
  margin-top: 0.3rem;
}

.video-title {
  font-size: 1.2rem;
  font-weight: 450;
  color: black;
}
.video-title:hover {
  text-decoration: none;
  color: black;
}
