$dark-blue: #28587B;
$light-blue: #E1E5EE;
$red: #d41c1c;
$white: #F0EDEE;

$bottom-navbar-max-width: 600px;

$channel-thumbnail-height: 3rem;
$channel-thumbnail-width: 3rem;

$content-margin: 0.5rem;

$element-margin-bottom: 1.3rem;

$navbar-bottom-height: 2.2rem;
$navbar-top-height: 3.9rem;
$navbar-side-colapsed-max-width: 874px;

$videos-mobile-max-width: 500px;

$thumbnail-height: 120px;
$thumbnail-width: 209px;
