$dark-blue: #28587B;
$light-blue: #E1E5EE;
$white: #F0EDEE;

$bottom-navbar-max-width: 600px;

$channel-thumbnail-height: 3rem;
$channel-thumbnail-width: 3rem;

$content-margin: 0.5rem;

$navbar-bottom-height: 2.2rem;
$navbar-top-height: 3.9rem;

$videos-mobile-max-width: 500px;
