<picture>
  <source media="(max-width: 320px)" srcset="{{
    images.bannerMobileLowImageUrl }}">

  <source media="(max-width: 640px)" srcset="{{
    images.bannerMobileImageUrl }}">

  <source media="(max-width: 960px)" srcset="{{
    images.bannerMobileMediumHdImageUrl }}">

  <source media="(max-width: 1060px)" srcset="{{
    images.bannerImageUrl }}">

  <source media="(max-width: 1138px)" srcset="{{
    images.bannerTabletLowImageUrl }}">

  <source media="(max-width: 1707px)" srcset="{{
    images.bannerTabletImageUrl }}">

  <source media="(max-width: 2560px)" srcset="{{
    images.bannerTabletExtraHdImageUrl }}">

  <img src="{{ images.bannerTabletExtraHdImageUrl }}">
</picture>
