<picture>
  <source media="(max-width: calc(320px + 185px))" srcset="{{
    images.bannerMobileLowImageUrl }}">

  <source media="(max-width: calc(640px + 185px))" srcset="{{
    images.bannerMobileImageUrl }}">

  <source media="(max-width: calc(960px + 185px))" srcset="{{
    images.bannerMobileMediumHdImageUrl }}">

  <source media="(max-width: calc(1060px + 185px))" srcset="{{
    images.bannerImageUrl }}">

  <source media="(max-width: calc(1138px + 185px))" srcset="{{
    images.bannerTabletLowImageUrl }}">

  <source media="(max-width: calc(1707px + 185px))" srcset="{{
    images.bannerTabletImageUrl }}">

  <source media="(max-width: 2560px)" srcset="{{
    images.bannerTabletExtraHdImageUrl }}">

  <img src="{{ images.bannerTabletExtraHdImageUrl }}">
</picture>
