<div class="video-container" *ngFor="let video of videos">
  <app-video-mini
    [descriptionMaxDisplayedRows]="descriptionMaxDisplayedRows"
    [titleMaxDisplayedRows]="titleMaxDisplayedRows"
    [thumbnailSize]="thumbnailSize"
    [video]="video">
  </app-video-mini>
</div>
<div class="d-flex" *ngIf="areMoreVideos">
  <app-loading-elements class="gb-loading-container"
    [isLoadingDisabled]="isCurrentlyLoading"
    [loadingCallback]="loadMoreVideos">
  </app-loading-elements>
</div>
<ng-container *ngIf="isCurrentlyLoading === false">
  <div class="gb-no-results-text" *ngIf="areMoreVideos === false && videos.length > 0">
    No more videos
  </div>
  <div class="gb-no-results-text" *ngIf="videos.length === 0">
    No videos
  </div>
</ng-container>
