@import './../../variables.scss';
@import './variables.scss';

:host ::ng-deep {
  img.thumbnail {
    width: $thumbnail-width;
    max-height: $thumbnail-height;
  }

  .video-title {
    font-size: 1rem;
  }
}

header {
  margin-bottom: 1rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  font-size: 1.1rem;
}

.playlist-element {
  width: $thumbnail-width;
  margin-right: $video-margin;
}
.playlist-element:first-child {
  padding-left: 0;
  margin-left: 0;
}
.playlist-element:last-child {
  padding-right: 0;
}
